src/main/resources/api_order_v3.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://store.com/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://store.com/">

  <types>
    <xsd:schema targetNamespace="http://store.com/">
      <xsd:complexType name="Product">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:int"/>
          <xsd:element name="name" type="xsd:string"/>
          <xsd:element name="type" type="xsd:string"/>
          <xsd:element name="inventory" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getProductRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getProductResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="product" type="tns:Product"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateProductRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="product" type="tns:Product"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateProductResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="message" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteProductRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteProductResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="message" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ErrorResponseBody">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="timestamp" type="xsd:string"/>
            <xsd:element name="status" type="xsd:int"/>
            <xsd:element name="error" type="xsd:string"/>
            <xsd:element name="message" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>

  <message name="getProductRequest">
    <part name="parameters" element="tns:getProductRequest"/>
  </message>
  <message name="getProductResponse">
    <part name="parameters" element="tns:getProductResponse"/>
  </message>
  <message name="updateProductRequest">
    <part name="parameters" element="tns:updateProductRequest"/>
  </message>
  <message name="updateProductResponse">
    <part name="parameters" element="tns:updateProductResponse"/>
  </message>
  <message name="deleteProductRequest">
    <part name="parameters" element="tns:deleteProductRequest"/>
  </message>
  <message name="deleteProductResponse">
    <part name="parameters" element="tns:deleteProductResponse"/>
  </message>

  <portType name="ProductServicePortType">
    <operation name="getProduct">
      <input message="tns:getProductRequest"/>
      <output message="tns:getProductResponse"/>
    </operation>
    <operation name="updateProduct">
      <input message="tns:updateProductRequest"/>
      <output message="tns:updateProductResponse"/>
    </operation>
    <operation name="deleteProduct">
      <input message="tns:deleteProductRequest"/>
      <output message="tns:deleteProductResponse"/>
    </operation>
  </portType>

  <binding name="ProductServiceBinding" type="tns:ProductServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getProduct">
      <soap:operation soapAction="http://store.com/getProduct"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateProduct">
      <soap:operation soapAction="http://store.com/updateProduct"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteProduct">
      <soap:operation soapAction="http://store.com/deleteProduct"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <service name="ProductService">
    <port name="ProductServicePort" binding="tns:ProductServiceBinding">
      <soap:address location="http://localhost:3000/products"/>
    </port>
    <port name="ProductServicePortImage" binding="tns:ProductServiceBinding">
      <soap:address location="http://localhost:3000/products/{id}/image"/>
    </port>
    <port name="OrderServicePort" binding="tns:ProductServiceBinding">
      <soap:address location="http://localhost:3000/orders"/>
    </port>
    <port name="OrderServicePortId" binding="tns:ProductServiceBinding">
      <soap:address location="http://localhost:3000/orders/{id}"/>
    </port>
  </service>
</definitions>